{% extends '../index.html' %}

{% block body %}
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <h4 style="text-align: center">Gestión de Empleado</h4>
        <div class="card py-2">
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}

                    <div class="form-group">
                        <label for="first_name">Nombre:</label>
                        <input type="text" class="form-control" id="first_name" name="first_name" required>
                    </div>

                    <div class="form-group">
                        <label for="last_name">Apellidos:</label>
                        <input type="text" class="form-control" id="last_name" name="last_name" required>
                    </div>

                    <div class="form-group">
                        <label for="cid">Carnet de Identidad:</label>
                        <input type="text" class="form-control" id="cid" name="cid" required>
                    </div>

                    <div class="form-group">
                        <label for="driver_licence">Licencia de Conducción:</label>
                        <input type="text" class="form-control" id="driver_licence" name="driver_licence" required>
                    </div>

                    <div class="form-group">
                        <label for="bus">Bus:</label>
                        <select class="form-select" id="bus" name="bus">
                            <option value="">Seleccione un bus</option>
                            {% for bus in buses %}
                            <option value="{{ bus.id }}">{{ bus.number }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <button type="submit" class="btn btn-success w-100 mt-3">Guardar</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
        <h4 style="text-align: center">Listado de Empleados</h4>
        <div class="table-responsive py-2">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>CI</th>
                    <th>Licencia Cond.</th>
                    <th>Bus</th>
                    <th colspan="2">Acciones</th>
                </tr>
                </thead>
                <tbody>
                {% for e in employees %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ e.first_name }}</td>
                    <td>{{ e.last_name }}</td>
                    <td>{{ e.cid }}</td>
                    <td>{{ e.driver_licence }}</td>

                    {% if e.bus %}
                    <td>{{ e.bus.number }}</td>
                    {% else %}
                    <td>Ninguno</td>
                    {% endif %}

                    <td><a href="/employees/edit/{{ e.id }}" class="btn btn-info">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-pen" viewBox="0 0 16 16">
                            <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708z"/>
                        </svg>
                        Editar
                    </a></td>
                    <td>
                        <button class="btn btn-danger"
                                onclick="ToggleDeleteDialog('/employees/delete/{{ e.id }}', '{{ csrf_token}}' )">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"/>
                            </svg>
                            Eliminar
                        </button>

                        <div class="modal fade" id="deleteDialog" data-bs-backdrop="static" data-bs-keyboard="false"
                             tabindex="-1" aria-labelledby="deleteDialogLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="deleteDialogLabel">¿Seguro que desea eliminar
                                            este elemento?</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        La acción será irreversible
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar
                                        </button>
                                        <button type="button" class="btn btn-danger" id="deleteConfirm">Eliminar
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
